html{
    margin: 0px;
    background-color: #1B262C;
    color: white;
    font-family: Arial, sans-serif;
    overflow: hidden;
    animation: changeBackground 5s infinite alternate;
}
header{
    display: flex;
    justify-content: center;
    justify-content: space-around;
}
#logo{

    height: 100%;
    width: 6%;
    text-align: center;
    border-radius: 20px;
    background-color: #0F4C75;
    border-color: #3282B8;
    font-style: italic;
}
a{
    text-decoration: none;
    font-size: 180%;
    gap: 60%;
    color: #ffffff;
}
a:hover{
    color: #FFF8F3;
}
main{
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#panel{
    width: 50%;
    height: 40%;
    border-radius: 20px;
    background-color: #0F4C75;
    -webkit-box-shadow: 1px 1px 21px -6px rgba(26, 26, 72, 1);
    -moz-box-shadow: 1px 1px 21px -6px rgba(26, 26, 72, 1);
    box-shadow: 1px 1px 21px -6px rgba(26, 26, 72, 1);
}
p{
    margin-top: 110px;
    font-size: 150%;
    text-align: center;
}
img{
    width: 40px;
    height: 40px;
    margin-left: 45%;
}