body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1E1E1E;
    color: #E3E3E3;
}

#okinko {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 30vw;
    width: 30vw;
    border: solid 1px #40522b;
    border-radius: 8px;
    background-color: #202020;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    transition: border-color 0.3s ease;
}

button {
    padding: 10px 20px;
    background-color: #525252;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
    background-color: #40522b;
    transform: translateY(-2px);
}

button:active {
    transform: translateY(1px);
}
